@charset "utf-8";

@keyframes txtmove{

  // volvo 메뉴 사이트 보이는 거 참고!!!!!
  0%{transform: translate(-850px,0)};
  100%{transform: translate(0,0)};
  
}

#wrap{
  font-family: 'gothic';
  background-color: #222;

  >header{
    position: relative;   
    color: #fff;      
    
    >.bg_lnb{
      display: none;
      position: absolute;
      top: 80px;
      left: 0; 
      width: 100%;    
      height: 300px; 
      
      background-color: #000; 
      border-top: 1px solid #444;  
      z-index: 100;   
    }
    
    >.h_top{
      position: relative;     
      width: 1664px;
      height: 80px;
      margin: 0 auto;     
      background-color: #000;
      // border-bottom: 1px solid #444;
      

      >h1.logo{
        position: absolute;
        top: 30px;
        left: 30px;    
        width: 120px;
        height: 20px;        
        background-image: url(../images/logo.svg);
        background-repeat: no-repeat;
        background-position: center;
        
        >a{
          display: block;
          text-indent: -9999px;
        }
      }

      >nav{
        

        >.gnb{
          position: absolute;
          top: 0;
          left: 350px;
          display: flex;
          flex-flow: row nowrap;
          z-index: 100;
          
          >li{
            width: 200px;
            height: 80px;            

            &:hover>a{                
                color: rgb(76, 76, 241);
                border-bottom: 2px solid rgb(76, 76, 241);                
            }

            >a{
              display: block;
              line-height: 80px;
              text-align: center;
              color: #fff;               
              font-size: 18px;
              font-weight: 900;             
            }        

            >ol.lnb{  
              display: none;
              position: absolute;
              top: 83px;
              height: 297px;
              background-color: #000;                        
              
              &:hover{               
                background-color: rgba(89, 89, 89, 0.3);               
              }

              >li{
                width: 200px;
                height: 40px;                
                
                >a{
                  display: block; 
                  line-height: 40px;                 
                  text-align: center;
                  font-size: 18px;
                  font-weight: 500;
                  color: #fff; 
                  
                  &:hover{                   
                  color: rgb(76, 76, 241);                  
                  }
                }
              }
            }//ol.lnb
          }//li
        }//.gnb
      }//nav

      >ul.login{
        position: absolute;
        top: 30px;
        right: 20px;
        display: flex;
        flex-flow: row nowrap;

        >li{
          width: 30px;
          height: 30px;
          margin-left: 20px;
          text-indent: -9999px;
          background-repeat: no-repeat;

          &:nth-child(1){background-image: url(../images/icon_search.svg);}
          &:nth-child(2){background-image: url(../images/h_login.svg);}
          &:nth-child(3){background-image: url(../images/h_bag.svg);}
          
          >a{
            display: block;
            color: #fff;
          }
        }
      }//.login
    }//h.top
  }//header


  
  >section{
    width: 100%;   

    >.sec_con{      
      width: 1664px;
      margin: 0 auto;
      background-color: #fff;
      
      >.visual{
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 830px;
        margin: 0 auto;
        
        >p.slides-progress{
          position: absolute;
          bottom: 30px;
          right: 30px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          z-index: 100;
      
          >span{
            display: block;
            color: #222;
            margin-left: 10px;
      
            &.current{
              display: block;
              color: #fff;
              font-size: 17px;
              font-weight: 900;
              text-shadow: 2px 2px 2px  rgb(126, 125, 125);
            }
      
            &.bar{              
              display: block;
              width: 70px; 
              height: 1px;
              margin-top: 10px;  
              text-indent: -9999px;            
              background-color: #eee; 
              text-shadow: 2px 2px 2px  rgb(126, 125, 125);               
            }
      
            &.total{
              display: block;
              color: #fff;
              font-size: 15px;
              font-weight: 500;
              text-shadow: 2px 2px 2px  rgb(126, 125, 125);
            }
          }
        }//p.slides-progress       

        >.slides-container{         
          display: flex;
          flex-flow: row nowrap;

          width: calc(100% * 5);
          height: 100%;

          >p{  
            width: 1664px;
            height: 830px;
            
            >span{
              display: none;
              display: block;
              position: absolute; 
              top: 180px;  
              left: -850px;             
              font-size: 100px;                         
              color: #fff;
              line-height: 1.4;
              font-weight: 900;
              z-index: 1;
              
              >.tag{
                display: block; 
                margin-top: 20px;              
                font-size: 15px;                              
              }
              
              >a{
                display: block;                 
                margin-top: 100px;
                font-size: 20px;
                color: #fff;                 
              }
              
              &.move{
                left: 90px;
                animation: txtmove 3s normal 0s;
              }
            }//span          

            
            >img{
              display: block;
              background-size: contain;
              background-position: center center;
            }

            >video{
              position: relative;             
              object-fit: fill;
            }            
          }//p
        }//.slides-container


        >a{
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          width: 50%;
          height: 100%;
          text-indent: -9999px;
          // z-index: 1;

          &.left{
            left: 0;
            cursor: url(../images/arrow_l.935a967c.cur),auto;
          }

          &.right{
            right: 0;
            cursor: url(../images/arrow_r.1db549d7.cur),auto;           
          }
        }      
      }//.visual 

      >.main{
        width: 100%;
        height: 880px;
        margin: 0 auto;

        >.main-container{
          display: flex;
          
          
          >.main-left{
            position: relative;
            display: flex;  
            flex-flow: row nowrap;          
            overflow: hidden;                 
            width: 833px;
            height: 840px;           
            
            >p{
              // position: absolute;   
              // top: 0;   
              // left: 0; 
              
              >a{ 
                display: block;
                width: 833px;                 
                height: 840px; 
                transition: all 1s;

                >img{
                  display: block;                  
                }
                
              }
            }
          }//.main-left

          >.main-right{            
            position: relative;                
            width: calc(1664px - 833px );
            height: 840px; 
            overflow: hidden; 
            background-color: #eee;         

            >.right-container{              
              
              >ul{
                position: absolute;
                left: 150px;
                top: 40px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                width: 2154px;

                >li{
                  width: 456px;
                  
                  &.mtit>a{
                    display: block;                    
                    line-height: 60px;
                  }
                  
                  >a{
                    display: block;
                    height: 160px;
                    line-height: 160px;
                    text-align: center;
                    font-size: 40px;
                    font-weight: 900;
                  }

                  >ol{
                    width: 456px;

                    >li{                      
                      text-align: center;                     

                      &.mimg{
                        width: 456px;
                        height: 456px;                        
                        background-color: #fff;
                        border-radius: 5px;

                        >a{
                          display: block;
                          width: 456px;
                          height: 456px; 
                          
                          >img{
                            display: block;
                            width: 456px;                           
                          }
                        }
                      }//.ming                     

                      &.mpdn>a{
                        display: block;                       
                        font-size: 25px;
                        font-weight: 800;
                        margin: 15px 0 10px;
                      }

                      &.mtxt>a{
                        display: block;
                        font-size: 14px;
                        font-weight: 700;
                        color: #666;
                      }
                    }
                  }
                }//li
              }//ul              

              >a{
                display: block;
                position: absolute;
                top: 0;                  
                width: 100%;             
                height: 100%;
                text-indent: -9999px;               
      
                &.right{                                              
                  cursor: url(../images/arrow_r.1db549d7.cur),auto;
                }
              }
            }//.right-container

            >.check{
              position: absolute;
              bottom: 40px;
              left: 50%;
              margin-left: -300px;

              >ol{
                display: flex;
                flex-flow: row nowrap;

                width: 600px;
                height: 2px;                
                background-color: #ddd;

                >li{
                  width: calc(600px / 4);
                  height: 1px;
                  text-indent: -9999px;
                  
                  &.on{
                    background-color: #222;
                  }                  
                }
              }              
            }            
          }//.main-right
        }//.main-container
      }//.main

     

      >.event{         

        >h3.event-tit{
          height: 100px;
          line-height: 100px;
          text-align: center;
          font-size: 35px;
          font-weight: 900;
        }

        >.nic{
          position: relative;
          width: 1615px;
          height: 535px;
          margin: 0 auto;
          background-image: url(../images/sony17.jpg);
          background-repeat: no-repeat;
          background-size: cover;         

          >h4{
            position: absolute;
            top: 45%;
            left: 250px;
            font-size: 30px;
            font-weight: 900;
          }

          >p{
            position: absolute;
            top: 55%;
            left: 255px;
            color: #666;
            font-size: 13px;
            font-weight: 800;
          }

          >.nic-container{
            position: absolute;
            top: 65px;
            right: 200px;
            width: 350px; 
            height: 400px;           
            
            >ul{              
              display: flex;
              flex-flow: row nowrap;              
              overflow: hidden;
              
              >li{
                position: relative; 
                width: 350px;
                height: 400px;
                
                >a{
                  display: block;                   
                  background-color: #fff;
                  border-radius: 10px;                  
                  
                  >img{
                    display: block;
                    width: 350px;
                    height: 350px;
                    transition: all 0.5s ease-in-out 0.5s;                        

                    &:hover{
                      transform: scale(1.1);
                    }
                  }                  
                }

                >ol{
                  margin-top: 10px;
                  width: 350px;                 
                  height: 30px;
                  transition: all 0.5s;
                  
                  >li{
                    font-size: 14px;
                    font-weight: 600;
                    color: #666;
                    line-height: 30px;
                    text-align: center;
                    
                    >span{                     
                      font-size: 20px;
                      font-weight: 900;
                      color: #222;
                    }
                  }
                }//ol
              }//li
            }//ul   

            >a{
              display: block;
              position: absolute;
              top: 40%;
              width: 30px;
              height: 30px;
              text-indent: -9999px;              
              background-repeat: no-repeat;
              background-size: contain;             

              &.prev{
                left: 0;
                background-image: url(../images/prev.png);
              }

              &.next{
                right: -15px;
                background-image: url(../images/next.png);
              }
            }
          }//.nic-container
        }//.nic
        
        >.event-btm{ 
          width: 1615px;        
          height: 745px;
          margin: 0 auto;

          >.btm-container{
            width: 100%;

            >ul{
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              margin-top: 20px;

              >li{
                position: relative;
                width: 525px;
                height: 523px;
                overflow: hidden;
                
                >ol{
                  position: absolute;
                  top: 350px;
                  left: 30px;

                  >li{
                    margin-bottom: 10px;
                    line-height: 1.3;

                    &.txt>a{
                      display: block;
                      font-size: 13px;
                      font-weight: 800;
                      color: #666;
                    }

                    >a{
                      display: block;
                      font-size: 35px;
                      font-weight: 900;
                    }
                  }
                }

                >a{
                  display: block;

                  >img{
                    display: block;
                    width: 525px;
                    height: 523px;
                    transition: all 0.5s;

                    &:hover{
                      transform: scale(1.1);
                    }
                  }
                }
              }
            }
          }//.btm-container

          >p{
            height: 100px;
            line-height: 100px;
            text-align: center;

            >a{
              display: block;
              font-size: 18px;
              font-weight: 900;
            }
          }
        }//.event-btm
      }//.event
      
      
      >.product{
        width: 100%;
        height: 735px;
        margin: 0 auto;
        background-color: #eee;
        // border: 1px solid #000;

        >h3.product-tit{
          height: 190px;         
          line-height: 250px;
          text-align: center;
          font-size: 35px;
          font-weight: 900;
        }

        >.product-list{
          margin-bottom: 30px;

          >ul{
            display: flex;
            flex-flow: row nowrap;
            cursor: pointer;            

            >li{
              position: relative;
              width: 415px;
              height: 525px;
              background-repeat: no-repeat;
              background-position: 150px 20px;
              border-right: 1px solid #ddd;

              transition: all 1s;

              &:nth-child(1){background-image: url(../images/pro_01.png);}
              &:nth-child(2){background-image: url(../images/pro_02.png);}
              &:nth-child(3){background-image: url(../images/pro_03.png);}
              &:nth-child(4){background-image: url(../images/pro_04.png);}

              &:hover{
                background-position: center 20px;
                background-color: #5865F5;
              }
              
              >a{
                display: block;
                position: absolute;
                top: 450px;  
                left: 30px;             
                font-size: 23px;
                font-weight: 800;
              }
            }
          }
        }//.product-list
      }//.product
    }//.sec.con
  }//section



  >footer{   
    width: 1664px;
    margin: 0 auto ;
    font-family: 'gothic';   
    background-color: #fff; 
    
    >.f_top{
      position: relative;
      width: 1664px;
      height: 351px;
      margin: 0 auto;      
      background-image: url(../images/bottom_bgi.png);
      background-position: center center;
      background-size: contain;
      background-color: #eee;

      >p{
        position: absolute;
        top: 140px;
        left: 50%;
        margin-left: -170px;
        font-size: 35px;
        font-weight: 900;
        text-align: center;
      }

      >a{
        position: absolute;
        top: 240px;
        left: 50%;
        margin-left: -110px;
        display: block;
        font-size: 15px;
        font-weight: 800;
      }
    }//.f_top

    >.f_mid{
      position: relative;
      height: 250px;
      // border: 1px solid #000;

      >h5{
        position: absolute;
        top: 70px;
        left: 100px;
        font-size: 35px;
      }

      >.info{
        position: absolute;
        right: 100px;
        top: 70px;

        display: flex;
        flex-flow: row nowrap;        

        >ul{

          >li{
            width: 150px;
            height: 70px;            
            background-repeat: no-repeat;
            background-position: center;

            &:first-child{text-indent: -9999px;}

            &.icon1{background-image: url(../images/icon_faq.svg);}
            &.icon2{background-image: url(../images/icon_매장안내.svg);}
            &.icon3{background-image: url(../images/icon_고객센터.svg);}
            &.icon4{background-image: url(../images/icon_제품지원.svg);}

            >a{
              display: block;
              height: 70px;
              font-size: 16px;
              font-weight: 900;
              text-align: center;
            }
          }
        }
      }      
    }//.f_mid

    >.f_btm{
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      height: 450px;
      color: rgb(187, 185, 185);
      background-color: #000;

      >.ads{
        position: absolute;
        top: 100px;
        left: 100px;
        line-height: 1.4;

        >ul{
          display: flex;
          flex-flow: row nowrap;
          margin-bottom: 20px;

          >li{
            margin-right: 20px;

            >a{
              display: block;
              color: rgb(174, 173, 173);
              font-size: 15px;              

              >span{
                display: block;
                font-size: 15px;
                font-weight: 900;
              }
            }
          }
        }

        >ol{
          width: 600px;
          height: 90px;

          li{          
            margin-bottom: 10px;
            margin-left: 15px;
            list-style: circle;

            &:last-child{list-style: none;}

            >a{
              position: absolute;
              top: 65px;
              left: 420px;
              display: block;              
              width: 43px;
              height: 43px;              
              text-indent: -9999px;
              background-image: url(../images/sony37.png);
            }
          }
        }

        >address{
          font-size: 13px;
          line-height: 1.6;
          color: #646161;
          font-weight: 800;
        }
      }//.ads
      
      >.company{
        position: absolute;
        top: 100px;
        right: 100px;       

        >ul{
          display: flex;
          flex-flow: row nowrap;

          >li{          
            width: 40px; 
            margin-left: 20px;
            background-repeat: no-repeat;
            
            &:first-child{
              width: 200px;              
              font-size: 28px;
              font-weight: 800;
            }
            &:nth-child(2){background-image: url(../images/facebook.svg);}
            &:nth-child(3){background-image: url(../images/instargram.svg);}
            &:nth-child(4){background-image: url(../images/utube.svg);}
            &:nth-child(5){background-image: url(../images/b.svg);}            
            
            >a{
              display: block;
              height: 30px;            
              text-indent: -9999px;         
              
            }
          }
        }

        >.fam{
          margin-top: 30px;
          margin-left: 20px;
          display: flex;
          flex-flow: row nowrap;

          >.sony_fam{            
            width: 250px;
            height: 50px;
            background-color: #333; 
            margin-right: 10px;
            // border: 1px solid #fff;

            >ul{
              >li{ 
                height: 50px;

                &:after{
                  display: block;
                  position: relative;
                  left: 225px;
                  top: -35px;
                  width: 0;
                  height: 0;                
                  border-width: 8px;
                  border-style: solid;
                  border-color:  transparent  transparent #eee transparent ;
                  content: '';
                }
                
                
                >a{
                  display: block;
                  line-height: 50px;
                  text-indent: 10px;
                  font-size: 15px;
                  color: #eee;
                }

                >ol{
                  display: none;
                  position: absolute;
                  top: -255px;
                  width: 250px;
                  height: 300px;
                  margin-top: 10px;
                  background-color: #333;

                  
                  >li{
                    font-size: 13px;
                    text-indent: 10px;
                    line-height: 1.6;
                    
                    &:hover>a{
                      display: block;
                      color: rgb(76, 76, 241);
                      
                    }

                    >span{
                      display: block;
                      margin: 10px 0;
                      color: #eee;
                      font-size: 15px;
                      font-weight: 600;
                    }
                    >a{
                      display: block;
                      text-indent: 15px;
                      color: #999;
                      font-size: 13px;
                    }
                  }
                }
              }
            }
          }//.sony fam

          >.global{
            width: 250px;
            height: 50px;
            background-color: #333;           

            >p{ 

              &:after{
                display: block;
                position: relative;
                left: 230px;
                top: -30px;
                width: 0;
                height: 0;               
                border-width: 8px;
                border-style: solid;
                border-color:  transparent  transparent  transparent #eee ;
                content: '';
                }

              >a{
                display: block;
                line-height: 50px;
                text-indent: 10px;
                font-size: 15px;
                color: #eee;
              }
            }
          }//.global
        }//.fam
      }//.company    
    }//.f_btm
  }//footer
}//wrap
